body {
    margin: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.headline{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position:relative;
    text-align: right;
    margin:auto;
    font-size:20px;
    color:white;
}
.home {
    width:90%;
    height: 170%;
    background:black;
    padding: 100px;
}

.nav-links{
    position: relative;

    text-align: center;
    font-size: 50px;
    padding:5px;
    text-decoration: none;
    color:white;
}
.lain{
    width: 1000;
    position:absolute;
    left:20%;
    text-align: center;
}
p{color: white;
    padding:0px;
font-size:5em;}
li{
    font-size:2em;
    padding:10px;

}